<h1>Posts#new</h1>

<%= form_with(model: @post) do |f| %>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title %>

    <%= f.rich_text_area :content %>
    
    <%= f.submit "投稿する" %>
<% end %>