<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>


    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-primary">
      <%= link_to "Iam", root_path, class: "navbar-brand text-light" %>
    
      <ul class="navbar-nav ms-auto">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Post Setting
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item"><%= link_to "New", new_post_path,  class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Index", posts_path,  class: "nav-link" %></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              User Setting
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item"><%= link_to "New", new_user_path,  class: "nav-link" %></li>        
              <li class="nav-item"><%= link_to "Profile", user_path(current_user),  class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Setting", edit_user_path(current_user),  class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Index", users_path,  class: "nav-link" %></li>          
            </ul>
          </li>
  
          <li class="nav-item"><%= link_to "Logout", logout_path, data: {"turbo-method": :delete}, class: "nav-link text-light" %></li>
        <% end %>
      </ul>
    </nav>

    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
